---
import "@/styles/components/footer.css"
---

<footer class="site-footer">
  <div class="footer-inner">

    <!-- Logo -->
    <div class="footer-left">
      <img
        src="/Logo-Full.svg"
        alt="QUT AI & ML Society Logo"
        class="footer-logo"
      />
      <p class="copyright">
        © 2026 QUT AI & ML Society
      </p>
    </div>

    <!-- Links -->
    <div class="footer-right">
      <nav class="footer-nav">
        <ul>
          <!-- <li><a href="/">Home</a></li> -->
          <li><a href="/about">About</a></li>
          <!-- <li><a href="/highlights">Highlights</a></li> -->
          <li><a href="/events">Events</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/learn">Learn</a></li>
          <li><a href="/partners">Partners</a></li>
          <li><a href="/contact">Connect</a></li>
        </ul>
      </nav>
    </div>

  </div>
</footer>
